.card-img-top{
    height: 200px;
    object-fit: cover;
    
}
body{
    background-color: rgb(10, 10, 95);
}
.text-center{
    color: #e1dfdf;
    font-weight: bold;
    margin-bottom: 30px;
}
h2{
    font-weight: bold;
    margin-bottom: 30px;
}
section{
    margin-bottom: 60px;
}
.btn{
    border-radius: 20px;
}
.hp {
    color: rgb(15, 58, 231)
}
